:root {
	--text: hsl(0, 0%, 0%);
	--bg: hsla(0, 0%, 100%, 0.7);
	--border: hsla(0, 0%, 100%, 0.5);
	--red: oklch(70% 0.13 0);
	--purple: oklch(70% 0.13 310);
	--blue: oklch(70% 0.13 260);
	--teal: oklch(70% 0.13 210);
	--green: oklch(70% 0.13 160);
	--yellow: oklch(75% 0.13 100);
	--orange: oklch(70% 0.13 50);
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;

	font-family: 'Urbanist', serif;
	font-weight: 500;
}

.box {
	backdrop-filter: blur(0.75rem);
	background: var(--bg);
	border-radius: 1rem;
	border: 2px solid var(--border);
}

a {
	color: var(--text);
}

button {
	font: inherit;
	border: none;
	background: none;

	&:hover {
		cursor: pointer;
	}
}
